*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0f0f11;
color:white;
}

/* FUNDO ANIMADO */
#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

/* HERO */
.hero {
    min-height: 100vh; /* 🔥 não corta mais */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    padding: 120px 20px 60px; /* 🔥 joga tudo mais pra baixo */
    gap: 15px;
}

/* FOTO */
.foto{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    object-position:50% 70%; /* 🔥 evita cortar cabeça */
}

/* TITULO */
.hero h1{
font-size:50px;
background:linear-gradient(90deg,#1f6feb,#58a6ff);
-webkit-background-clip:text;
color:transparent;
}

/* TEXTO */
.hero-text{
max-width:700px;
margin-top:10px;
color:#9aa4b2;
line-height:1.6;
}

/* BOTÃO */
.botao{
display:inline-block;
margin-top:15px;
background:#1f6feb;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
color:white;
}

/* SECTIONS */
section{
max-width:1100px;
margin:auto;
padding:60px 20px;
}

.sobre{
color:#9aa4b2;
line-height:1.6;
}

/* MOMENTOS */
.momentos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.momento{
background:#1a1a1d;
border-radius:10px;
overflow:hidden;
}

.momento img{
width:100%;
}

.momento h3{
padding:15px;
}

.momento p{
padding:0 15px 20px;
color:#9aa4b2;
}

/* PROJETOS */
.projetos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.projeto{
display:flex;
flex-direction:column;
height:100%;
padding:15px;
border-radius:12px;
background:#1e1e1e;
}

.projeto img{
width:100%;
height:180px;
object-fit:cover;
border-radius:8px;
}

.descricao{
margin-top:10px;
flex-grow:1;
display:-webkit-box;
-webkit-line-clamp:9;
-webkit-box-orient:vertical;
overflow:hidden;
}

.projeto .botao{
margin-top:15px;
}

/* SKILLS */
.skills{
display:flex;
gap:30px;
flex-wrap:wrap;
}

.skills img{
width:60px;
}

/* CERTIFICADOS */
.certificados li{
margin-top:10px;
}

.certificados a{
color:#58a6ff;
text-decoration:none;
}

/* EMAIL */
.email{
display:block;
word-break:break-all;
color:#00ff88;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .hero {
        min-height:auto;
        padding:100px 20px 40px;
        justify-content:flex-start; /* 🔥 impede esmagar conteúdo */
    }

    .foto {
        width:130px;
        height:130px;
    }

    .hero h1 {
        font-size:32px;
        line-height:1.2;
    }

    .hero-text {
        font-size:14px;
    }

    .botao {
        display:block;
        width:80%;
        margin:10px auto;
    }

    p {
        font-size:14px;
        word-break:break-word;
    }

    .momentos,
    .projetos,
    .skills {
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .projeto img {
        width:100%;
    }

    .descricao {
        width:100%;
    }
}
